<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script type="text/javascript">
  	function myFunction() {
	    var x = document.createElement("INPUT");
	    x.setAttribute("type", "file");
	    document.body.appendChild(x);
	    var y = document.createElement("INPUT");
	    y.setAttribute("type", "file");
	}



// 	function HandleBrowseClick()
//  {
//    var fileinput = document.getElementById("browse");
//    fileinput.click();
//  }

// function Handlechange()
// {
//  var fileinput = document.getElementById("browse");
//  var textinput = document.getElementById("filename");
//  textinput.value = fileinput.value;
//  console.log(fileinput, textinput)
// }
</script>
</html>
