<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
  <script type="text/javascript">
  	function myFunction() {
	    var x = document.createElement("INPUT");
	    x.setAttribute("type", "file");
	    document.body.appendChild(x);
	    var y = document.createElement("INPUT");
	    y.setAttribute("type", "file");
	}



// 	function HandleBrowseClick()
//  {
//    var fileinput = document.getElementById("browse");
//    fileinput.click();
//  }

// function Handlechange()
// {
//  var fileinput = document.getElementById("browse");
//  var textinput = document.getElementById("filename");
//  textinput.value = fileinput.value;
//  console.log(fileinput, textinput)
// }

$('#Form-1').submit(function(e){
  e.preventDefault();
  $.ajax({
    url: "/save",
    dataType: 'json',
    type: 'post',
    data: $('#Form-1').serialize(),
    success: function(response){
      if(response.success){
        console.log('success')
      }else{
        console.log('failure');
      }
    }
  });
});
</script>
</html>
